body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(255, 253, 224);
}

h1{
    text-align: center;
    font-size: 4em;
}
h2{
    text-align: center;
}

#container{
    width: 50%;
    margin: 0px auto;
    border: 1px solid rgb(36, 36, 36);
}

header{
    background: rgb(239, 253, 158);
    height:150px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: rgb(0, 20, 46);
    border: 2px solid rgb(0, 20, 77); 
}

nav{
    background: rgb(255, 255, 255);
    height: 50px;
    border:2px solid rgb(0, 20, 77);
}

nav ul li{
    float: left;
    list-style: none;
    margin: 5px;
    border: 1px solid rgb(0, 20, 77);    
    transform: translateX(350px);
       
}
.clearfix{
    clear: both;
}

footer{
    backgraound: rgb(255, 255, 255);
    colo: rgb(255, 255, 255);
    text-align: center;
    height: 20px;
    line-height: 20px;

}